* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url("./images/slider\ image.png") no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
}

header,
footer {
  width: 100%;
  padding: 20px 0 0 56px;
}

header {
  height: 90px;
}

nav > img {
  width: 167px;
  height: 45px;
}

form,
.foot-note {
  margin: 0 auto;
  padding: 91px 68px;
}

form,
footer {
  background-color: rgba(0, 0, 0, 0.75);
}

form {
  width: 450px;
  height: 660px;
  border-radius: 4px;
}

input,
input[type="submit"] {
  width: 314px;
  height: 50px;
}

::placeholder {
  width: 170px;
  font-size: 16px;
  font-weight: 400;
  color: #8c8c8c;
  padding: 17px 20px;
}

input[type="submit"] {
  background-color: #e50914;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700px;
  border-radius: 4px;
  border: 0;
  box-shadow: 0 1 0 0 #0000008c;
  margin-top: 48px;
}

h2,
.help {
  color: rgba(255, 255, 255, 1);
}

h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 41px;
  letter-spacing: 0.01em;
}

.fb-signin,
.sign-up,
.auth {
  color: rgba(115, 115, 115, 1);
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: -0.005em;
}

.input,
footer {
  margin: 65px 0 0 0;
}

input[type="password"] {
  margin-top: 20px;
}

.foot-note {
  width: 1000px;
  height: 238px;
  padding: 29px 0;
  color: rgba(117, 117, 117, 1);
font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: -0.01em;
  
}

